# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Clustree Specific
*.db
*.sqlite3
logs/
_TRASH_DUPLICATES/
clustree_test.db
clustree.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Specific Junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Desktop.ini
